@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    color: #465a16;
    text-align: center;
}

body {
    background-color: #7dbc74;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #57914b;
    padding: 10px 20px;
}

nav a {
    color: white;
    font-weight: 600;
    font-size: 1em;
    margin: 20px;
}

nav a:hover {
    color: #ddf6d9;
}

.main-layout {
    margin-top: 70px;
}

.main-layout {
    display: flex;
    gap: 40px;
    align-items: center;
}

.expense-wrapper,
.income-wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper {
    background-color: #a4e399;
    width: 350px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.expense-header,
.income-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.filter {
    display: flex;
    gap: 10px;
}

.filter select,
.filter input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid white;
    font: inherit;
}

.btn {
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font: inherit;
}

.filter-btn {
    background-color: darkolivegreen;
    color: white;
    margin-left: 25px;
}

.filter-btn:hover {
    background-color: #5a7226;
    transform: translateY(-2px);
}

.reset-btn {
    background-color: white;
    color: darkolivegreen;
    margin-left: 10px;
}

.reset-btn:hover {
    background-color: #c7ddbd;
    transform: translateY(-2px);
}

.expenses-list,
.income-list {
    width: 700px;
    max-height: 400px;
    background-color: #f7fff5;
    padding: 25px 25px 10px ;
    overflow-y: auto;
    border-radius: 10px;
}

.income-list {
    width: 950px;
}

.expense-item,
.income-item {
    display: flex;
    justify-content: space-between;
    background-color: #e0f0d9;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

.expenses,
.income {
    display: flex;
    gap: 60px;
    align-items: center;
    font-size: 1.1em;
}

.expenses span,
.income span {
    min-width: 120px;
}

.edit-icon, .delete-icon {
    width: 22px;
    height: auto;
}

.edit-icon:hover,
.delete-icon:hover {
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: scale(1.1);
}

.actions {
    display: flex;
    gap: 10px
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-content {
    background: #e3efd5;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: auto;
}

.modal-buttons {
    display: flex;
    gap: 45px;
    justify-content: center;
    padding-top: 5px;
}

.modal-buttons button {
    padding: 8px 30px;
    border-radius: 7px;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
}

form {
    width: 100%;
    padding: 0 20px;
}

form input,
form select {
    box-sizing: border-box;
    width: 255px;
    height: 55px;
    padding: 1em;
    font: inherit;
    color: #465c13;
    border-radius: 10px;
    border: 2px solid white;
    transition:  150ms ease;
    background-color: #f7fff5;
}

form input:hover,
form select:hover {
    border: 2px solid darkolivegreen;
}

#edit-amount,
#edit-category,
#edit-date {
    background-color: #f8fbf1;
}

#category-select,
#edit-category,
.filter select:hover {
    cursor: pointer;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #668137;
    box-shadow: 0 0 0 2px rgba(85,107,47,0.2);
}

form > div {
    margin-bottom: 12px;
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: darkolivegreen;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    outline: none;
    background-color: white;
    color: darkolivegreen;
    transition: 300ms ease;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #465c13;
}

a:hover {
    text-decoration: underline;
    color: #f7fff5;
}

::placeholder {
    color: #465c13;
}

.incorrect input,
.incorrect select {
    border-color: #c51b1b;
}

#error-message {
    color: #c51b1b;
}

#success-message {
    color: #105110;
}

@media(max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
    }
}