@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Montserrat, sans-serif;
    font-size: 12pt;
    color: #465a16;
    text-align: center;
}

body {
    background-color: #7dbc74;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    background-color: #a4e399;
    width: 350px;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
}

form {
    width: 100%;
    padding: 0 20px;
}

form input,
form select {
    box-sizing: border-box;
    width: 255px;
    height: 55px;
    padding: 1em;
    font: inherit;
    color: #465c13;
    border-radius: 10px;
    border: 2px solid white;
    transition:  150ms ease;
    background-color: #f7fff5;
}

form input:hover,
form select:hover {
    border: 2px solid darkolivegreen;
}

#category-select {
    cursor: pointer;
}

form input:focus,
form select:focus {
    outline: none;
    border-color: #668137;
    box-shadow: 0 0 0 2px rgba(85,107,47,0.2);
}

form > div {
    margin-bottom: 12px;
}

form button {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: darkolivegreen;
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
}

form button:hover {
    outline: none;
    background-color: white;
    color: darkolivegreen;
    transition: 300ms ease;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #465c13;
}

a:hover {
    text-decoration: underline;
    color: #f7fff5;
}

::placeholder {
    color: #465c13;
}

.incorrect input,
.incorrect select {
    border-color: #c51b1b;
}

#error-message {
    color: #c51b1b;
}

#success-message {
    color: #105110;
}

@media(max-width: 1100px) {
    .wrapper {
        width: min(600px, 100%);
    }
}